<% if (pagetitle) { %>
</div>
<% } %>
<footer id="footer">
    <%- include('./footer'); %>
</footer>
<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/functions.js"></script>
<% if (scripts) { %>
<%- scripts %>
<% } %>
</body>
</html>