<div class="header-inner">
    <div class="container">
        <div id="logo">
            <a href="/">
                <span class="logo-default">CNSP</span>
                <span class="logo-dark">CNSP</span>
            </a>
        </div>
        <div id="search">
            <a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i
                    class="icon-x"></i></a>
            <form class="search-form" action="search-results-page" method="get">
                <input class="form-control" name="q" type="search" placeholder="Type &amp; Search...">
                <span class="text-muted">Start typing &amp; press "Enter" or "ESC" to close</span>
            </form>
        </div>
        <div class="header-extras">
            <ul>
                <li>
                    <a id="btn-search" href="#"> <i class="icon-search"></i></a>
                </li>
            </ul>
        </div>
        <div id="mainMenu-trigger">
            <a class="lines-button x"><span class="lines"></span></a>
        </div>
        <div id="mainMenu" class="menu-center light">
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#">Projects</a>
                            <ul class="dropdown-menu" >
                                <li class="dropdown-submenu">
                                    <a href="#">Research</a>
                                    <ul class="dropdown-menu" >
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Documentation</a>
                                    <ul class="dropdown-menu" >
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Code/Development<span
                                            class="badge badge-danger">NEW</span></a>
                                    <ul class="dropdown-menu" >
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Awareness</a>
                                    <ul class="dropdown-menu" >
                                    </ul>
                                </li>
                                <li>
                                    <hr>
                                </li>
                                <li><a href="/projects/new">Start a Project</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Events</a>
                            <ul class="dropdown-menu" >
                                <li>No upcoming events.</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Chapters</a>
                            <ul class="dropdown-menu" >
                                <li class="dropdown-submenu">
                                    <a href="#">Asia</a>
                                    <ul class="dropdown-menu" >
                                        <li class="dropdown-submenu">
                                            <a href="#">India</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/chapters/asia/india/delhi">Delhi</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Europe</a>
                                    <ul class="dropdown-menu" >
                                        <li>No entries found. D:</li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Africa</a>
                                    <ul class="dropdown-menu" >
                                        <li>No entries found. D:</li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">North America</a>
                                    <ul class="dropdown-menu" >
                                        <li>No entries found. D:</li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">South America</a>
                                    <ul class="dropdown-menu" >
                                        <li>No entries found. D:</li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Australia</a>
                                    <ul class="dropdown-menu" >
                                        <li>No entries found. D:</li>
                                    </ul>
                                </li>
                                <li>
                                    <hr>
                                </li>
                                <li><a href="/chapters/new">Start a Chapter</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">About</a>
                            <ul class="dropdown-menu" >
                                <li><a href="/about/about_cnsp">About CNSP</a></li>
                                <li><a href="/about/board">Board Members</a></li>
                                <li><a href="/about/staff">Staff Team</a></li>
                                <li><a href="/about/brand_resources">Brand Resources</a></li>
                                <li><a href="/membership">Membership</a></li>
                                <li><a href="/donate">Donate</a></li>
                                <li><a href="/about/finance">Finance</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#">Legal</a>
                                    <ul class="dropdown-menu" >
                                        <li><a href="/bylaws">CNSP Foundation ByLaws</a></li>
                                        <li><a href="/privacypolicy">Privacy Policy</a></li>
                                        <li><a href="/termsofuse">Terms of Use</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Contact</a>
                            <ul class="dropdown-menu" >
                                <li>
                                    <a href="/faq">
                                        FAQ
                                    </a>
                                </li>
                                <li>
                                    <a href="/contact">
                                        Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a href="/support">
                                        Support Desk
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>