<%- include('../../partials/top'); %>
<section id="page-title" data-bg-parallax="/images/parallax/5.jpg">
<div class="container">
<div class="page-title">
<h1>CNSP Foundation Board</h1>
</div>
<div class="breadcrumb">
<ul>
<li><a href="/">Home</a>
</li>
<li><a href="/about/">About</a>
</li>
<li class="active"><a href="/about/board">Board</a>
</li>
</ul>
</div>
</div>
</section>


<section>
<div class="container">
<div class="row">
    <h2 class="center">
        CNSP Foundation Board Members
    </h2>
<h3>Apply to be a board member by mailing us at administrator@cnsp.codes</h3>
</div>
</div>
</section>
<%- include('../layout/bottom'); %>