<%- include('../layout/top'); %>
<section id="page-title" data-bg-parallax="images//parallax/5.jpg">
<div class="container">
<div class="page-title">
<h1>CNSP Foundation Board</h1>
</div>
<div class="breadcrumb">
<ul>
<li><a href="#">Home</a>
</li>
<li><a href="/about">About</a>
</li>
<li class="active"><a href="/about/staff">Staff</a>
</li>
</ul>
</div>
</div>
</section>


<section>
<div class="container">
<div class="row">
    <h2 class="center">
        CNSP Foundation Board Members
    </h2>
    <div class="row team-members team-members-circle m-b-40">
        <div class="col-lg-3">
        <div class="team-member">
        <div class="team-image">
        <img src="/images/team/member.png">
        </div>
        <div class="team-desc">
        <h3>Akshit Kumar</h3>
        <span>Executive Head</span><br>
        <span>India</span>
        <p>The Executive Director is ultimately responsible for overseeing the administration, programs and strategic plan of the organization. </p>
        </div>
        </div>
        </div>
        <div class="col-lg-3">
        <div class="team-member">
        <div class="team-image">
        <img src="/images/team/member.png">
        </div>
        <div class="team-desc">
        <h3>Syed Ahkam</h3>
        <span>Director of Technology & Projects</span><br>
        <span>India</span>
        <p>The Director of Technology & Projects nurtures, manages, facilitates, and supports the volunteer open source programs of the Foundation. </p>
        </div>
        </div>
        </div>
        <div class="col-lg-3">
        <div class="team-member">
        <div class="team-image">
        <img src="/images/team/member.png">
        </div>
        <div class="team-desc">
        <h3>Sheepy</h3>
        <span>Community & Operations Manager</span><br>
        <span>Europe</span>
        <p>The Community & Operations Manager proactively runs the Foundation’s core business and chapter functions in a professional manner. </p>
        </div>
        </div>
        </div>
        <div class="col-lg-3">
        <div class="team-member">
        <div class="team-image">
        <img src="/images/team/member.png">
        </div>
        <div class="team-desc">
        <h3>Emily May</h3>
        <span>Director of Events</span><br>
        <span>United States</span>
        <p>The Director of Events is responsible for the success of the Company’s event programming including global events and other initiatives. </p>
        </div>
        </div>
        </div>
</div>
</div>
</section>
<%- include('../layout/bottom'); %>