<%- include('../layout/top'); %>


<section id="page-title" data-bg-parallax="/images/parallax/5.jpg">
<div class="container">
<div class="page-title">
<h1>CNSP By-Laws</h1>
<span>View and download CNSP's By-Laws</span>
</div>
<div class="breadcrumb">
<ul>
<li><a href="#">Home</a>
</li>
<li><a href="#">Legal</a>
</li>
<li class="active"><a href="#">CNSP ByLaws</a>
</li>
</ul>
</div>
</div>
</section>


<section>
<div class="container">
    <table id="datatable" class="table table-bordered table-hover" style="width:100%">
        <thead>
        <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Date Adapted</th>
        <th>File Format</th>
        <th>MD5 Checksum</th>
        <th>Status</th>
        <th class="noExport">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>CNSP ByLaws</td>
        <td>2.0.0</td>
        <td>February 1, 2020</td>
        <td>ZIP</td>
        <td>ceb871bdf233cb8cbb6dc6e7f8fc0ccf</td>
        <td><span class="badge badge-pill badge-success">In Use</span></td>
        <td> <a class="ml-2" href="#" data-toggle="tooltip" data-original-title="Edit"><i class="icon-link"></i></a>
        <a class="ml-2" href="#" data-toggle="tooltip" data-original-title="Delete"><i class="icon-save"></i></a>
        </td>
        </tr>
        <tr>
            <td>CNSP By-Laws</td>
            <td>1.0.0</td>
            <td>October 25, 2019</td>
            <td>ZIP</td>
            <td>13be427b1c978762ded466901ff82096</td>
            <td><span class="badge badge-pill badge-primary">Historical</span></td>
            <td> <a class="ml-2" href="/data/CNSP_Foundation_ByLaws.zip" data-toggle="tooltip" data-original-title="Edit"><i class="icon-link"></i></a>
            <a class="ml-2" href="#" data-toggle="tooltip" data-original-title="Delete"><i class="icon-save"></i></a>
            </td>
            </tr>
        </tbody>
        </table>
</div>
</section>
<script src="/plugins/popper/popper.min.js"></script>
<%- include('../layout/bottom'); %>