<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body>
    <div class="body-inner">
        <header id="header" data-transparent="true" data-fullwidth="true">
            <%- include('../../partials/header'); %>
        </header>

<section class="m-t-80 p-b-150">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="page-error-404">404</div>
</div>
<div class="col-lg-6">
<div class="text-left">
<h1 class="text-medium">This is an error!</h1>
<p class="lead">The requested URL <%= url %> has been removed, had its name changed, or is temporarily unavailable. Now, that's all.</p>
<div class="seperator m-t-20 m-b-20"></div>
<div class="search-form">
   <p class="active">Let's try searching for what you were looking for...</p>
   <form action="/search-results-page" method="get" class="form-inline">
      <div class="input-group input-group-lg">
      <input type="text" aria-required="true" name="q" class="form-control widget-search-form" placeholder="Search for pages...">
      <div class="input-group-append">
      <span class="input-group-btn">
      <button type="submit" id="widget-widget-search-form-button" class="btn"><i class="fa fa-search"></i></button>
      </span>
      </div>
      </div>
      </form>
</div>
</div>
</div>
</div>
</div>
</section>
<%- include('../layout/bottom'); %>