<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" /> <meta name="author" content="CNSP" />
<meta name="description" content="Clear Net Security Project is undergoing development and will be up very soon.">
<link rel="icon" type="image/png" href="images/favicon.png">

<title>CNSP - Clear Net Security Project</title>

<link href="/css/plugins.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="body-inner">
<section class="fullscreen text-center">
<div class="container container-fullscreen">
<div class="text-middle text-center">
<i class="fa fa-exclamation-triangle fa-5x" style="color: #ffd530;"></i>
<h1 class="text-uppercase text-lg">Maintenance mode</h1>
<p class="lead">We are currently working on our website, we'll be back soon!</p>
</div>
</div>
<div class="p-progress-bar-container title-up small">
<div class="p-progress-bar" data-percent="32" data-delay="100" data-type="%" style="background-color:#ffd530">
<div class="progress-title">DEVELOPMENT PROGRESS</div>
</div>
</div>
</section>
</div> 

<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>

<script src="/js/functions.js"></script>
</body>
</html>