<% var description= "The Clear Net Security Project (CNSP) is a not-for-profit foundation working to tackle evolving Internet threats. Your donation will support the Foundation and its many activities around the world to secure the web." %>
<% var title = "Donate" %>
<%- include('../partials/top'); %>


<section id="page-title" data-bg-parallax="/images/parallax/5.jpg">
    <div class="shape-divider" data-style="1"></div>
<div class="container">
<div class="page-title">
<h1>Donate</h1>
<span>Donate to the CNSP Foundation</span>
</div>
<div class="breadcrumb">
<ul>
<li><a href="#">Home</a>
</li>
<li class="active"><a href="#">Donate</a>
</li>
</ul>
</div>
</div>
</section>


<section>
<div class="container">
    <div class="row">
    <div class="col-lg-6">
    <h2>Donate to the CNSP Foundation</h2>
    <p>
        The Clear Net Security Project (CNSP) is a not-for-profit foundation working to tackle evolving Internet threats.
        Your donation will support the Foundation and its many activities around the world to secure the web.</p>        
        <p>We are extremely apologetic for the inconvenience, the donate function is not currently active because of some legal issues.
            It is expected to be working by June 30, 2020. If you wish to donate to us before the gateway is back, send us an
        <a href="mailto:administrator@cnsp.codes">email</a> for instructions.</p>
    </p></div>
    <div class="countdown medium col-lg-6" data-countdown="2020/06/30 12:0:0"><div class="countdown-container"><div class="countdown-box"><div class="number">0</div><span>Days</span></div><div class="countdown-box"><div class="number">0</div><span>Hours</span></div><div class="countdown-box"><div class="number">0</div><span>Minutes</span></div><div class="countdown-box"><div class="number">0</div><span>Seconds</span></div></div></div>
</div>
</div>
</section>
<%- include('../partials/bottom'); %>