<%- include('./layout/top'); %>
        <section class="fullscreen background-colored">
            <div class="container">
                <div class="container-fullscreen">
                    <div class="text-middle text-center text-light">
                        <h1 data-animate="fadeIn">Clear Net Security Project</h1>
                        <a href="#about" data-animate="fadeIn" data-animate-delay="500" type="button"
                            class="btn btn-purple scroll-to"><span class="btn-label"><i class="fa fa-book"></i></span> Learn
                            More</a>
                    </div>
                </div>
            </div>
            <div id="particles-dots" class="particles"></div>
        </section>
        <div class="modal fade" id="modal-3" tabindex="-1" role="modal" aria-labelledby="modal-label-3"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modal-label-3" class="modal-title">Website Migration</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb20">
                            <div class="col-md-12">
                                <p>The Cleat Net Security Website Project website is currently
                                    migrating, you might face some 404 and 500 errors. We are sorry
                                    for that, please <a href="/contact">contact us</a> if you encounter
                                    these errors!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-b" type="button">Close</button>
                        <button onclick="window.open('https://github.com/cnsp-os/cnsp-website')" class="btn btn-b" type="button">GitHub Repository</button>
                    </div>
                </div>
            </div>
        </div>
        <section id="about" class="background-grey p-t-120 p-b-40">
            <div class="container xs-text-center sm-text-center">
                <div class="row">
                    <div class="col-lg-9 p-b-40">
                        <h2>Dance like no one's watching,<br>Encrypt like everyone is.</h2>
                        <p class="lead">With this motto in mind, Clear Net Security Project (CNSP) moves forward to make
                            the Internet a safer place for everyone. We are an online community that provides free for
                            all articles, software, technologies and much more in the field of web security.</p>
                        <button type="button" class="btn btn-rounded btn-outline">Learn More</button>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                            <div class="counter text-lg"> <span data-speed="300" data-refresh-interval="12" data-to="3"
                                    data-from="0" data-seperator="true"></span> </div>
                            <div class="seperator seperator-small"></div>
                            <p>PROJECTS ONLINE</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h4>Transparent</h4>
                        <p>From our finances to our code, even this website's, are wholly transparent. This ensures a
                            sense of transparency among the community and brings us closer.</p>
                    </div>
                    <div class="col-lg-3">
                        <h4>Worldwide</h4>
                        <p>We love interacting with people all around the world. CNSP encourages anyone around the
                            world, reading this, to become a part of the CNSP community.</p>
                    </div>
                    <div class="col-lg-3">
                        <h4>Coherence</h4>
                        <p>The CNSP community is united, truthful and respectful. We are very welcoming and our doors
                            are open for all, always (if we are not undergoing maintenance :D).</p>
                    </div>
                    <div class="col-lg-3">
                        <h4>Commitment</h4>
                        <p>The whole of CNSP's community and its staff are commited towards one thing and that is,
                            making the Internet secure for everyone by spreading awareness.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <h2>Star Projects</h2>
                        <p class="lead">Our community and our staff love creating! Here are some of the most viewed
                            projects on CNSP.</p>
                    </div>
                    <div class="col-lg-6 offset-1">
                        <div class="carousel arrows-visibile testimonial testimonial-single" data-items="1"
                            data-loop="true" data-autoplay="true" data-autoplay="3500" data-arrows="false"
                            data-animate-in="fadeIn" data-animate-out="fadeOut">
                            <div class="testimonial-item">
                                <img src="images/fp/api.jpg" alt="">
                                <span>MD5 API</span>
                                <span>Community Project</span>
                                <p>The most lightweight API to encode any text with the MD5 algorithm for free!</p>
                            </div>
                            <div class="testimonial-item">
                                <img src="images/fp/safeskript.jpg" alt="">
                                <span>SafeSkript</span>
                                <span>Child Organization</span>
                                <p>SafeSkript is a web security verification organization working under CNSP.</p>
                            </div>
                            <div class="testimonial-item">
                                <img src="images/fp/besecure.jpg" alt="">
                                <span>BeSecure Blog</span>
                                <span>Community Blog</span>
                                <p>BeSecure is a security focused blog to provide our users with the latest updates and
                                    more!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="col-lg-12 col-md-12 m-b-40 text-center">
                    <h2>Explore CNSP</h2>
                    <p class="lead">We have a lot to offer! Here are the most viewed pages:</p>
                </div>
                <div class="row">
                    <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="0">
                        <div class="icon-box effect medium border small">
                            <div class="icon">
                                <a href="#"><i class="fa fa-shield-alt"></i></a>
                            </div>
                            <h3>Staff Projects</h3>
                            <p>Staff Projects are work products primarily done by the staff members with more than 1
                                hour of time put in.</p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="200">
                        <div class="icon-box effect medium border small">
                            <div class="icon">
                                <a href="#"><i class="fa fa-file-signature"></i></a>
                            </div>
                            <h3>Membership</h3>
                            <p>One of many ways you can get involved in the CNSP Community is to become a member.</p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="400">
                        <div class="icon-box effect medium border small">
                            <div class="icon">
                                <a href="#"><i class="fa fa-donate"></i></a>
                            </div>
                            <h3>Donate</h3>
                            <p>CNSP is a not-for-profit organization with no investors, your gift will help us move
                                forward.</p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="600">
                        <div class="icon-box effect medium border small">
                            <div class="icon">
                                <a href="#"><i class="far fa-money-bill-alt"></i></a>
                            </div>
                            <h3>Finance</h3>
                            <p>Transparency at its finest. Learn about how we spent every dollar that was donated to us.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="800">
                        <div class="icon-box effect medium border small">
                            <div class="icon">
                                <a href="#"><i class="far fa-newspaper"></i></a>
                            </div>
                            <h3>News & Events</h3>
                            <p>Check back here for weekly news and opinions from CNSP staff and community members.</p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="1000">
                        <div class="icon-box effect medium border small">
                            <div class="icon">
                                <a href="#"><i class="fa fa-hands-helping"></i></a>
                            </div>
                            <h3>Our Supporters</h3>
                            <p>Your generous support accelerates our impact. Become a member or sponsor today.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-t-150 p-b-200"
            style="background-image:url(homepages/branding/images/background-4.png); background-position:71% 22%;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="m-b-10">Get in Touch with Us</h2>
                                <p class="lead">We would love to hear from you,</p>
                            </div>
                            <div class="col-lg-6 m-b-30">
                                <address>
                                    <strong>Clear Net Domains:</strong><br>
                                    https://cnsp.codes<br>
                                </address>
                                <strong>Phone:</strong> +1 (408) 419-9342
                                <br>
                                <strong>Email:</strong> help@cnsp.codes
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-1">
                        <form class="widget-contact-form" role="form" method="post" action="/api/contact">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Name</label>
                                    <input type="text" aria-required="true" required name="c-name"
                                        class="form-control required name" placeholder="Enter your Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email">Email</label>
                                    <input type="email" aria-required="true" required name="c-email"
                                        class="form-control required email" placeholder="Enter your Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea type="text" required name="c-message" rows="8" class="form-control required"
                                    placeholder="Enter your Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-light" type="submit" id="form-submit"><i
                                        class="fa fa-paper-plane"></i>&nbsp;Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer">
            <%- include('../partials/footer'); %>
        </footer>
        <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
        <script src="/js/jquery.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/functions.js"></script>
        <script src="/plugins/particles/particles.js"></script>
        <script src="/plugins/particles/particles-dots.js"></script>
        <script type="text/javascript">
            $(window).on('load',function(){
                $('#modal-3').modal('show');
            });
            </script>
        </body>
        </html>